.frinds-page {
  margin: 20px 0px;
  .typeArticleAndSearches {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  .articleType,
  .searchType {
    flex: 1;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    border-radius: 15px;
    &:hover {
      background-color: #0099a8;
      color: #fff;
    }
  }
  .searchType {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
