.jobs {
  margin: 20px 0;
  .typeJobs {
    display: flex;
    gap: 10px;
  }
  .jobSearchButton,
  .contentRequstsButton {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    border-radius: 15px;
    &:hover {
      background-color: #0099a8;
      color: #fff;
    }
  }
  .jobSearchButton {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
